# Sequências, Tuplos, dicionários e sets

O `python` dispõe de várias estruturas de dados. Revêm-se algumas das mais usadas assim como técnicas para iterar sobre elementos guardados em estruturas.

* [Sequências](#Sequências ou listas)
* [Tuplos](#Tuplos)
* [Dicionários](#Dicionários)
* [Sets](#Sets)

## Sequências ou listas
A estrutura de dados mais básica em `python` é uma sequência (ou lista). A cada elemento da sequência é atribuído um número: a sua posição (ou índice) na sequência. As posições começam em zero.

Uma lista é criada com os elementos separados por vírgula, dentro de parêntesis rectos `[ ]`:

    lista1 = ['machine', 'learning', 2016]
    lista2 = [1,2,3,4]
       
#### Acesso aos elementos da lista

O acesso aos elementos de uma lista faz-se usando os parêntesis rectos `[  ]`, e aplicam-se as regras de _slicing_ para strings:
    
    lista1[1]
    lista2[-2]

Para modificar um elemento da lista, usam-se as regras de _slicing_:

    lista1[2] = 'is the best'
    
Para apagar um elemento, pode usar-se o comando `del`:
    
    del lista1[2]

#### Operações básicas
Existem as operações básicas `+` (concatenação) e `*` (repetição), que resultam numa nova lista.
    
    ['machine'] * 3
    [1,2,3] + [4,5,6]

In [ ]:
lista1 = ['machine', 'learning', 2016]

In [ ]:
lista2 = [1,2,3,4]

In [ ]:
lista1[1]

In [ ]:
lista2[-2]

In [ ]:
lista1[2] = 'is the best'

In [ ]:
lista1

In [ ]:
del lista1[2]

## Tuplos
Um tuplo é uma sequência de objectos **imutáveis**. Os tuplos são sequências tais como as listas. As diferenças entre ambos são que os elementos dos tuplos não podem ser mudados, e os tuplos são criados com parêntesis curvos `(  )`:

    tup1 = ('big', 'data', 2016)
    tup2 = (1,2,3,4,5,6)
    
#### Acesso aos elementos de um tuplo    
    
O acesso aos elementos faz-se usando os parêntesis rectos `[  ]`, e aplicam-se as regras de _slicing_:

    tup1[0:2]
    tup2[-1]

**Não é possível alterar os valores ou os elementos de um tuplo**. Mas é possível criar novos tuplos a partir de um ou vários tuplos.

#### Operações básicas

Existem as operações básicas `+` (concatenação) e `*` (repetição), que resultam num novo tuplo.

    ('big',)*3
    (1,2,3)+(4,5,6)

In [ ]:
tup1 = ('big', 'data', '2016')

In [ ]:
tup2 = (1,2,3,4,5,6)

In [ ]:
tup1[0:2]

In [ ]:
tup2[-1]

In [ ]:
('big',)*3

In [ ]:
(1,2,3)+(4,5,6)

## Dicionários
Um outro tipo de estrutura de dados importante é o dicionário. Ao contrário das listas, os dicionários são indexados por chaves (_keys_), que têm de ser objectos imutáveis.

Os dicionários podem ser criados com chavetas `{ }` ou usando o construtor `dict()`:

    telefones = {'joao': 123, 'pedro': 124, 'antónio': 125}
    salas = dict([('joao', 'D604'), ('pedro', 'D605')])
    meses = dict(jan=31, fev=29, mar=31)

#### Acesso aos elementos de um dicionário    
    
O acesso aos elementos de um dicionátio faz-se usando os parêntesis rectos `[  ]` e indicando a _key_ correspondente:
    
    telefones['joao']
    salas['pedro'] = 'D606'
    
Para apagar um elemento, pode usar-se o comando `del`:
    
    del salas['pedro']  # remove a entrada com a key 'pedro' 
    meses.clear();      # remove todos os elementos do dicionário
    del meses ;         # apaga o dicionário

#### Métodos

Na tabela seguinte listam-se um conjunto de métodos disponíveis para objectos do tipo dicionário (atenção que existem mais).

Método | Descrição
-|-
`dict.clear()` | remove todos os elementos do dicionário `dict`
`dict.copy()` | devolve uma cópia do dicionário `dict`
`dict.keys()` | devolve uma lista com as `keys` do dicionário `dict`
`dict.values()` | devolve uma lista com os elementos do dicionário `dict`
`dict.items()` | devolve uma lista de tuplos (`key`, `value`) a partir do dicionário `dict`
`dict.has_key(key)` | devolve `true` se a `key` existe no dicionário `dict`

In [ ]:
telefones = {'joao': 123, 'pedro': 124, 'antonio': 125}

In [ ]:
salas = dict([('joao', 'D604'), ('pedro', 'D605')])

In [ ]:
meses = dict(jan=31, fev=29, mar=31)

In [ ]:
print telefones

In [ ]:
print salas

In [ ]:
print meses

## Sets
Os `sets` são uma colecção de elementos sem repetições. Os objectos do tipo `set` suportam operações matemáticas como `union`, `intersection`, `diference` e `symmetric difference`.

Os `sets` podem ser criados usando chavetas `{ }` ou usando o construtor `set()`:

    basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
    fruit = set(basket)          # cria um set sem duplicados
    colors = {'blue', 'red', 'green', 'orange', 'red'}
    

#### Operações sobre `sets`  

A inclusão de um elemento pode ser testada com o comando `in`:

    'green' in colors
    'yellow' in colors
Na tabela seguinte listam-se operações as disponíveis sobre objectos do tipo `set`.
Considere que existem os seguintes `sets`:

    a = set('abracadabra')
    b = set('alacazam')
|Operação | Descrição |
|:-------:|----------|
| `a-b` | elementos em `a` mas não em `b` | 
| `a  ` &#124; `  b`  | elementos em `a` ou em `b` |
| `a&b` | elementos em ambos `a` e `b` | 
| `a^b` | elementos em `a` ou em `b`, mas não em ambos |

In [ ]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
fruit = set(basket)
fruit

In [ ]:
colors = {'blue', 'red', 'green', 'orange', 'red'}
colors

In [ ]:
'green' in colors

In [ ]:
'yellow' in colors

In [1]:
a = set('abracadabra')
b = set('alacazam')

In [ ]:
a

In [ ]:
b

In [ ]:
a-b

In [ ]:
a | b

In [ ]:
a & b

In [ ]:
a ^ b